.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #FCC6BB, #FEEBE7);
}
.todo-app {
  background: linear-gradient(135deg, beige, #f0f0f0);
  width: 20%;
  padding: 10px 40px 40px 40px;
  border-radius: 25px;
}
.tasks-container {
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}
.task {
  display: flex;
  align-items: center;
}
.task-text {
  margin-left: 10px;
}
.completed {
  text-decoration: line-through;
}
.delete-task-btn {
  margin-left: 10px;
  color: white;
  background-color: red;
  border: 1px solid white;
  border-radius: 4px;
  height: 24px;
}
.edit-task-btn {
  margin-left: 10px;
  color: white;
  background-color: palevioletred;
  border: 1px solid white;
  border-radius: 4px;
  height: 24px;
}

.add-task-btn {
  margin-left: 10px;
  color: white;
  background-color: tomato;
  border: 1px solid white;
  border-radius: 4px;
}
