.todo-app {
  background-color: beige;
  width: 20%;
  padding: 10px 40px 40px 40px;
  border-radius: 25px;
}
.tasks-container {
  margin-top: 20px;
}
.delete-task-btn {
  margin-left: 10px;
  color: white;
  background-color: red;
  border: 1px solid white;
  border-radius: 4px;
  height: 24px;
}
.task {
  display: flex;
  align-items: center;
}
.task-text {
  margin-left: 10px;
}
.completed {
  text-decoration: line-through;
}
.add-task-btn {
  margin-left: 10px;
  color: white;
  background-color: tomato;
  border: 1px solid white;
  border-radius: 4px;
}
